ul li{
    list-style: none;
    width: 30px;
}
.close{
    cursor: pointer;
    
}
.type{
    /* background: ; */
    color:red;
    width: 200px;
}
.type::content{
    content: ':';
}
.search{
    width: 500px;
    height: 84px;
    padding: 16px;
    background-color:#fafafa;
    border: 1px solid #eaeaea;
}
input{
    border: none;
}